<div class="clear">&nbsp;</div>

<footer>
  <ul>  
    <li>BW Construction</li>
    <li>3067 10th Street Boulder, CO 80304</li>
    <li>(303) 449-3298</li>
    <li><a href="mailto:info@bw-construction.com">info@bw-construction.com</a></li>
  </ul>
</footer>
