<div class="row">
  <footer class="twelvecol">
    <ul>
      <li>303-449-3298</li>
      <li><a href="www.bw-construction.com">www.bw-construction.com</a></li>
      <li><a href="mailto:info@bw-construction.com">info@bw-construction.com</a></li>
    </ul>
  </footer>
</div>