<div class="row">
  <div class="twocol">
    <img src="/images/temp/bw_logo.png">
  </div>
  
  <div class="sevencol">
    <h1 style="margin-bottom:0;">BW Construction of Boulder</h1>
    <h2 style="margin:0;">Remodeler &amp; General Contractor</h2>
  </div>
  
  <div class="threecol last">
    <img src="/images/temp/donna_randy.png">
  </div>
</div>