<div class="masthead grid_12 clearfix">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <h1>BW Construction of Boulder</h1>
        <h4>Remodeler &amp; General Contractor in Boulder, CO</h4>
      </td>
      <td>
        <img src="/images/donna_and_randy.png" alt="">
      </td>
    </tr>
  </table>
</div>