<div class="sixteen columns">
  <header>
    <nav>
      <ul>
        <li><a href="javascript://">Home</a></li>
        <li><a href="javascript://">Gallery</a></li>
        <li><a href="javascript://">Our Crew</a></li>
        <li><a href="javascript://">Testimonials</a></li>
        <li><a href="javascript://">Resources</a></li>
        <li><a href="javascript://">Contact Us</a></li>
      </ul>
    </nav>
  </header>
</div>
