<nav>
  <img src="/images/logo.png">
  
  <ul>
    <li><a href="/" class="selected">Home</a></li>
    <li><a href="/gallery/">Gallery</a></li>
    <li><a href="/about/">About Us</a></li>
    <li><a href="/about/">Our Process</a></li>
    <li><a href="/testimonials/">Testimonials</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/contact/">Contact Us</a></li>
  </ul>
  
  <hr>
  
  <ul class="contact">
    <li>303-449-3298</li>
    <li>info@bw-construction.com</li>
  </ul>
</nav>