<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Our Crew</a></li>
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
</header>