<!-- <header class="row">
  <div class="twelvecol last">
    <h1>The only contractor who’ll sweat the details more than you do!</h1>
  </div>
</header> -->

<section class="row" style="background-color:#dedede;">
  <article class="eightcol">
    <figure><img src="/images/temp/kitchen.jpg"></figure>
  </article>

  <aside class="fourcol last" style="font-size:1.3em">
    <h4>We can help with your next</h4>
    <ul>
      <li>Kitchen &amp; Bath Remodel</li>
      <li>Whole House Remodel</li>
      <li>Addition</li>
      <li>Lower Level Finish</li>
      <li>Structural Improvement</li>
      <li>Treehouse</li>
      <li>Dream Project</li>
    </ul>
  </aside>
</section>

<div style="height:20px;">&nbsp;</div>

<section class="row">
  <article class="fourcol">
    <h2>We sweat the small and big stuff so you don't have to.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </article>

  <article class="fourcol">
    <h2>We sweat the small and big stuff so you don't have to.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </article>

  <article class="fourcol last">
    <h2>We sweat the small and big stuff so you don't have to.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </article>
</section>

<section class="row">
  <article class="twelvecol last">
    <blockquote>We want to throw roses at your lead carpenter's feet. He is bright, competent, conscientious, and considerate. Not a day went by when he didn't go far beyond to be sure we had what we needed... He cleaned up the site meticulously every day and was particularly careful (and friendly) with the cats. We all appreciate his work ethic and his suggestions.</blockquote>
    <cite>– A. Levine</cite>
  </article>
</section>