<div class="grid_12 clearfix">
  <h2>The only contractor who will sweat the details as much as you do!</h2>
  
  <figure class="slideshow">
    <ul id="slides_home">
      <li>
        <a href="/gallery/"><img src="/images/photos/kitchen.jpg" alt=""></a>
        <figcaption>This photo has a nice caption.</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_1.jpg" alt=""></a>
        <figcaption>So does this one!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_2.jpg" alt=""></a>
        <figcaption>Wait, me too!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_3.jpg" alt=""></a>
        <figcaption>So does this one!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_4.jpg" alt=""></a>
        <figcaption>Don't forget about me!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_5.jpg" alt=""></a>
        <figcaption>And me!</figcaption>
      </li>
    </ul>  
  </figure>
    
  <blockquote>
    “Thanks again for a wonderful building experience! I can’t think of anyone else I would turn my house/life over to and leave the state. For the whole summer. Again.” <cite>&ndash; L. Edwards</cite>
  </blockquote>
  <hr>
</div>

<div class="grid_4">
  <h3>We lorem ipsum</h3>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>We lorem ipsum</h3>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="grid_4">
  <h3>We lorem ipsum</h3>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>We lorem ipsum</h3>
  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="grid_4">
  <aside>
    <h3>Call us for your next:</h3>
    <ul>
      <li><span>Kitchen &amp; Bath Remodel</span></li>
      <li><span>Whole House Remodel</span></li>
      <li><span>Addition</span></li>
      <li><span>Lower Level Finish</span></li>
      <li><span>Structural Improvement</span></li>
      <li><span>Treehouse</span></li>
      <li><span>Dream Project</span></li>
    </ul>
  </aside>
</div>