<div class="grid_12 slideshow_wrapper clearfix">
  <div class="grid_9 alpha">
    <figure class="slideshow">
      <ul id="slides_home">
        <li><a href="/gallery/"><img src="/images/photos/kitchen.jpg" alt=""></a></li>
        <li><a href="/gallery/"><img src="/images/photos/sample_1.jpg" alt=""></a></li>
        <li><a href="/gallery/"><img src="/images/photos/sample_2.jpg" alt=""></a></li>
        <li><a href="/gallery/"><img src="/images/photos/sample_3.jpg" alt=""></a></li>
        <li><a href="/gallery/"><img src="/images/photos/sample_4.jpg" alt=""></a></li>
        <li><a href="/gallery/"><img src="/images/photos/sample_5.jpg" alt=""></a></li>
      </ul>  
    </figure>
  </div>
  
  <div class="grid_3 omega">
    <aside>      
      <h4>We'd love to help you with your next project! Our specialties include:</h4>
      <ul>
        <li><span>Whole House Remodels</span></li>
        <li><span>New Construction</span></li>
        <li><span>Kitchens</span></li>
        <li><span>Baths</span></li>
        <li><span>Lower Levels</span></li>
        <li><span>Structural Improvements</span></li>
        <li><span>Treehouses</span></li>
      </ul>
    </aside>
  </div>
</div>

<div class="grid_12">
  <h2>Experience the BW Difference</h2>  
</div>

<div class="grid_6">
  <h3>Relax. We'll Take Care of You.</h3>
  <p>Our Lead Carpenter works on site all day, every day to make sure your custom remodel runs like clockwork and, despite construction, you return each day to a safe, clean home. BW Construction takes professionalism, open communication and integrity as seriously as our carpentry and project management skills.</p>
  
  <h3>We Believe Communication is Key.</h3>
  <p>Nobody likes surprises when it comes to a home remodeling project. Over the past 20+ years, we've gotten estimating down to a science. We share the scope, cost, schedule and building details with you upfront and we stick to them. The only surprise you'll experience is how amazing your home looks when we sweep our way out the door.</p>
</div>

<div class="grid_6">
  <h3>Shouldn't Dreams Be Fun?</h3>
  <p>We believe that if you're finally making your dream come true, you should enjoy the process. This is our passion, not just a job, and we're as excited about your home as you are!  We have been building and remodeling homes in and around Boulder since 1989 and are proud to call our clients friends, long after the work is finished.</p>

  <h3>Your Vision, Built To Last.</h3>
  <p>We will work with your designer or our design partners to help you envision your goals and turn your ideas into reality. We'll help you choose sustainable materials that are high quality, low maintenance and energy efficient.</p>
</div>

<div class="clear">&nbsp;</div><hr>

<div class="grid_12">
  <blockquote>
    &quot;Thanks again for a wonderful building experience! I can't think of anyone else I would turn my house/life over to and leave the state. For the whole summer. Again.&quot; <cite>&ndash; L. Edwards</cite>
  </blockquote>
</div>