<!DOCTYPE html>

<html>
<head>
<title>BW Construction | Remodeler &amp; General Contractor (Boulder, CO)</title>
<meta charset="utf-8">
<meta name="description" content="Remodeler and General Contractor.">
<meta name="author" content="BW Construction">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400,300,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" type="text/css">
<link rel="stylesheet" href="/stylesheets/grid.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css">

<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

<script src="/javascripts/jquery-1.7.2.min.js"></script>
<script src="/javascripts/responsiveslides.min.js"></script>

<script>
  function onBefore() {
    console.log("Animation started.");
  }
  
  function onAfter() {
    console.log("Animation ended.");
  }

  $(function () {
    $("#slides_home").responsiveSlides({
      // options
    }).bind('rslides-before', onBefore);
    
    $("#slides").responsiveSlides({
      auto: false,
      nav: true
    }).bind('rslides-before', onBefore);
  });
</script>
</head>

<body class="<%= @body_class %>">
<%= render '_header.html.erb' %>

<div class="wrapper">
  <div class="content clearfix">  
    <div class="container_12">
      <%= render '_masthead.html.erb' %>
      <%= yield %>
    </div>
  </div>
  
  <%#= render '_footer.html.erb' %>
</div>

<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>