<!DOCTYPE html>

<html>
<head>
<title>BW Construction | Remodeler &amp; General Contractor (Boulder, CO)</title>
<meta charset="utf-8">
<meta name="description" content="Remodeler and General Contractor.">
<meta name="author" content="BW Construction">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800|Merriweather:400,300,700' rel='stylesheet' type='text/css'>

<!--
<script type="text/javascript" src="http://use.typekit.com/sue1diy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
-->

<link rel="stylesheet" href="/stylesheets/grid.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/normalize.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css">

<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>

<body>
<%#= render '_masthead.html.erb' %>
<%= render '_navigation.html.erb' %>

<div class="wrapper clearfix">  
  <div class="container_9">    
    <%= yield %>
  </div>
</div>

<%= render '_footer.html.erb' %>

<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>