<header class="grid_12">
  <h1>Gallery / Kitchens</h1>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
</header>

<div class="clear">&nbsp;</div>

<div class="grid_12">
  <figure class="slideshow">
    <ul id="slides">
      <li>
        <a href="/gallery/"><img src="/images/photos/kitchen.jpg" alt=""></a>
        <figcaption>This photo has a nice caption.</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_1.jpg" alt=""></a>
        <figcaption>So does this one!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_2.jpg" alt=""></a>
        <figcaption>Wait, me too!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_3.jpg" alt=""></a>
        <figcaption>So does this one!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_4.jpg" alt=""></a>
        <figcaption>Don't forget about me!</figcaption>
      </li>
      <li>
        <a href="/gallery/"><img src="/images/photos/sample_5.jpg" alt=""></a>
        <figcaption>And me!</figcaption>
      </li>
    </ul>  
  </figure>
</div>