<header class="grid_12 clearfix gallery">
  <h1>Kitchens <span>(<a href="/gallery/">see all galleries</a>)</span></h1>
</header>

<div class="clear">&nbsp;</div>

<div class="grid_12">
  <figure class="slideshow">
    <ul data-gallery-name="kitchens" id="slides">
      <li>
        <img src="/images/gallery/kitchens/Anderson kit-complete 7-04 001.JPG" title="Complete 7"/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Beitner kit done 001.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Brick complete DSCN0671_533.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Brinton complete 6.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Caprio door-window before 9-23-10 015.JPG" title="Window Before 9"/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Caprio door-window before 9-23-10 016.JPG" title="Window Before 9"/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Hart complete 006.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Hart complete 007.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Johnsonr 039.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Nordby 068.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Walsh- Complete 017.JPG" title=" Complete 017"/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/Walsh- Complete 018.JPG" title=" Complete 018"/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/brinton complete 4.JPG" title=""/>
      </li>
      <li>
        <img src="/images/gallery/kitchens/cox 017.JPG" title=""/>
      </li>
    </ul>
  </figure>
</div>