<header class="grid_12">
  <h1>Gallery / Kitchens</h1>
</header>

<div class="clear">&nbsp;</div>

<div class="grid_12">
  <figure class="slideshow">
    <ul id="slides">
      <li>
        <img src="/images/photos/kitchen.jpg" alt="">
        <figcaption>This photo has a nice caption.</figcaption>
      </li>
      <li>
        <img src="/images/photos/sample_1.jpg" alt="">
        <figcaption>So does this one!</figcaption>
      </li>
      <li>
        <img src="/images/photos/sample_2.jpg" alt="">
        <figcaption>Wait, me too!</figcaption>
      </li>
      <li>
        <img src="/images/photos/sample_3.jpg" alt="">
        <figcaption>So does this one!</figcaption>
      </li>
      <li>
        <img src="/images/photos/sample_4.jpg" alt="">
        <figcaption>Don't forget about me!</figcaption>
      </li>
      <li>
        <img src="/images/photos/sample_5.jpg" alt="">
        <figcaption>And me!</figcaption>
      </li>
    </ul>  
  </figure>
</div>