<header class="grid_12 clearfix gallery">
  <h1>Interiors <span>(<a href="/gallery/">see all galleries</a>)</span></h1>
</header>

<div class="clear">&nbsp;</div>

<div class="grid_12">
  <figure class="slideshow">
    <ul data-gallery-name="interiors" id="slides">
      <li>
        <img src="/images/gallery/interiors/cox dining complete 012.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/cox living complete 014.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Walsh- Complete 015.jpg" title=" Complete 015"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Nordby 070.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Nordby 072.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Munsinger complete 002- complete.jpg" title=" Complete"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Crouch 055.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/11st at completion 12-06 012.jpg" title="06 012"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/11st at completion 12-06 031.jpg" title="06 031"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/11st railing.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Brick complete DSCN0666_524.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Caprio door-window before 9-23-10 011.jpg" title="Window Before 9"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Cox-skyland complete 004.jpg" title="Skyland Complete 004"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Cox-skyland complete 006.jpg" title="Skyland Complete 006"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Cox-skyland complete 019.jpg" title="Skyland Complete 019"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Cox-skyland mstr bdrm complete 003.jpg" title="Skyland Mstr Bdrm Complete 003"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Cox-skyland stairway complete 014.jpg" title="Skyland Stairway Complete 014"/>
      </li>
      <li>
        <img src="/images/gallery/interiors/Pendergast trim complete 8-09 007.jpg" title="09 007"/>
      </li>
    </ul>
  </figure>
</div>