<header class="grid_12 clearfix">
  <h1>Photo Gallery</h1>
  <p>Welcome to our gallery. These are some of the spaces, big and small we have remodeled. These are just the highlights! What can we create for you?</p>
</header>

<div class="clear">&nbsp;</div><hr>

<div class="grid_3 kitchens">
  <figure>
    <a href="/gallery/kitchens"><img src="/images/gallery_x.png" alt=""></a>
    <figcaption>Kitchens</figcaption>
  </figure>
</div>

<div class="grid_3 baths">
  <figure>
    <a href="/gallery/baths"><img src="/images/gallery_x.png" alt=""></a>
    <figcaption>Baths</figcaption>
  </figure>
</div>

<div class="grid_3 exteriors">
  <figure>
    <a href="/gallery/exteriors"><img src="/images/gallery_x.png" alt=""></a>
    <figcaption>Exteriors</figcaption>
  </figure>
</div>

<div class="grid_3 interiors">
  <figure>
    <a href="/gallery/interiors"><img src="/images/gallery_x.png" alt=""></a>
    <figcaption>Interiors</figcaption>
  </figure>
</div>

<div class="clear">&nbsp;</div><hr>

<blockquote>
  &quot;Thanks again for a wonderful building experience! I can't think of anyone else I would turn my house/life over to and leave the state. For the whole summer. Again.&quot; <cite>&ndash; L. Edwards</cite>
</blockquote>