<header class="row">
  <div class="twelvecol">
    <h1>Gallery</h1>
  </div>
</header>

<section class="row">
  <article class="threecol">
    <h2>Kitchens</h2>
    <figure>
      <img src="/images/temp/kitchen_sml.jpg">
    </figure>
  </article>
  
  <article class="threecol">
    <h2>Baths</h2>
    <figure>
      <img src="/images/temp/bath_sml.jpg">
    </figure>
  </article>
  
  <article class="threecol">
    <h2>Exteriors</h2>
    <figure>
      <img src="/images/temp/exterior_sml.jpg">
    </figure>
  </article>
  
  <article class="threecol last">
    <h2>Interiors</h2>
    <figure>
      <img src="/images/temp/interior_sml.jpg">
    </figure>
  </article>
</section>

<section class="row">
  <article class="twelvecol last">
    <blockquote>We want to throw roses at your lead carpenter's feet. He is bright, competent, conscientious, and considerate. Not a day went by when he didn't go far beyond to be sure we had what we needed... He cleaned up the site meticulously every day and was particularly careful (and friendly) with the cats. We all appreciate his work ethic and his suggestions.</blockquote>
    <cite>– A. Levine</cite>
  </article>
</section>