<header class="grid_12 clearfix">
  <h1>Gallery</h1>
  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
</header>

<div class="grid_3 kitchens">
  <h2>Kitchens</h2>
  <figure><a href="/gallery/kitchens"><img src="/images/gallery_x.png" alt=""></a></figure>
</div>

<div class="grid_3 baths">
  <h2>Baths</h2>
  <figure><a href="/gallery/baths"><img src="/images/gallery_x.png" alt=""></a></figure>
</div>

<div class="grid_3 exteriors">
  <h2>Exteriors</h2>
  <figure><a href="/gallery/exteriors"><img src="/images/gallery_x.png" alt=""></a></figure>
</div>

<div class="grid_3 interiors">
  <h2>Interiors</h2>
  <figure><a href="/gallery/interiors"><img src="/images/gallery_x.png" alt=""></a></figure>
</div>

<div class="clear">&nbsp;</div>

<hr>

<blockquote>
  “Thanks again for a wonderful building experience! I can’t think of anyone else I would turn my house/life over to and leave the state. For the whole summer. Again.” <cite>&ndash; L. Edwards</cite>
</blockquote>