<header class="grid_12 clearfix">
  <h1>Resources</h1>
  <p>We know that remodeling your home is a major investment and the impact of the choice you make will be far-reaching. As professionals in our field there are certain things we feel you really need to know during the selection process. We've put together a list of questions that will make you an expert decision maker.</p>
</header>

<div class="clear">&nbsp;</div><hr>

<section>
  <div class="grid_3">
    <h3>Questions to ask when interviewing remodelers:</h3>
  </div>

  <div class="grid_9">
    <ul>
      <li>What experience do you have in the type of project I want?</li>
      <li>Who will be managing my project?</li>
      <li>What is their training and experience in my kind of project?</li>
      <li>How much time will your supervisor spend at my project every day?</li>
      <li>How are price and schedule determined and guaranteed?</li>
      <li>Can you describe the process I would experience if we worked together?</li>
      <li>What is your availability for this kind of project?</li>
      <li>Are you and all your subcontractors licensed and insured?</li>
      <li>Do you and all your subcontractors have Workers Compensation?</li>
      <li>What kind of warranty do you offer?</li>
      <li>How long have you been in business?</li>
      <li>May I speak to some of your clients who have had similar work done?</li>
    </ul>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_3">
    <h3>Questions when interviewing a contractor's references:</h3>
  </div>

  <div class="grid_9">
    <ul>
      <li>What kind of work did the contractor do for you?</li>
      <li>Did they have a schedule and keep to it?  Why/Why not?</li>
      <li>Did they stay on budget? Why/Why not?</li>
      <li>What was your experience with the contractor's customer service and accounting?</li>
      <li>If you experienced challenges during the project how were they handled?</li>
      <li>Are there any particular strengths or concerns you would share about working with this contractor?</li>
      <li>Would you hire or refer them again?  Why or why not?</li>
    </ul>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_3">
    <h3>Question to ask yourselves to plan for your remodel:</h3>
  </div>

  <div class="grid_9 questions">
    <ul>
      <li>What are our goals and priorities for the project?</li>
      <li>What do we consider most important in this process?</li>
      <li>Have we collected design and product ideas from magazines, home tours, friends' homes?</li>
      <li>What would we like to invest in our project? Do we know the value of our home and what we are comfortable investing so a remodelor can educate us about what may be realistic?</li>
      <li>Have we determined our timing?</li>
      <li>What qualities are most important to us in choosing a remodelor?</li>
    </ul>
  </div>
</section>

<div class="clear">&nbsp;</div><hr>

<div class="grid_12">
  <blockquote>
    &quot;Thanks again for a wonderful building experience! I can't think of anyone else I would turn my house/life over to and leave the state. For the whole summer. Again.&quot; <cite>&ndash; L. Edwards</cite>
  </blockquote>
</div>