body {
  background: #c0ced1 url("/images/bkd_diagonal_blue.jpg") repeat fixed top left;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  color: #333;
  padding-top: 10px; }

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url("/images/bkd_wood.jpg") repeat-x scroll top left; }

figure {
  padding: 1.25em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 2.0em; }

nav {
  position: fixed;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 230px;
  text-align: center;
  font-family: "Merriweather", serif; }
  nav > a {
    display: block;
    width: 100%;
    margin: 0 auto 1.5em auto; }
    nav > a img {
      margin: 0 auto; }
  nav hr {
    margin: 1.2em 3.0em; }
  nav ul {
    margin: 0;
    padding: 0;
    font-size: 1.0em;
    color: #5f6667; }
    nav ul.contact {
      font-size: 0.875em; }
    nav ul li {
      padding: 3px 0; }
      nav ul li a {
        padding: 6px 10px 5px 10px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all 100ms ease-in-out;
        -moz-transition: all 100ms ease-in-out;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px; }
        nav ul li a:hover, nav ul li a:visited:hover {
          background-color: rgba(0, 0, 0, 0.05);
          color: #383c3d; }
        nav ul li a.selected {
          color: #930;
          background-color: rgba(0, 0, 0, 0.05); }
          nav ul li a.selected:hover, nav ul li a.selected:visited:hover {
            color: #930; }

aside {
  background-color: rgba(204, 102, 0, 0.2);
  padding: 20px 20px 15px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  aside ul {
    font-family: 'Merriweather', serif;
    font-size: 0.875em;
    padding: 0 1.25em; }
    aside ul li {
      margin-bottom: 8px; }
  aside h3 {
    font-size: 1.25em;
    font-weight: normal;
    color: #930;
    margin: 0; }

div.wrapper {
  margin-left: 230px;
  background: #f2f3ed url("/images/bkd_diagonal_tan.jpg") repeat fixed top left; }

div.content,
footer > div.inner {
  max-width: 1040px; }

div.content {
  padding-bottom: 3.0em; }
  div.content h3 {
    margin: 0 0 0.33em 0; }
    div.content h3 + p {
      margin-top: 0; }
  div.content hr {
    height: 36px; }

footer {
  padding: 10px 0 60px 0;
  border-top: 10px solid #7f8178;
  background: #a4a79d url("/images/bkd_mesh_brown.jpg") repeat scroll top left; }
  footer h2 {
    color: #fff; }
  footer table {
    width: 100%; }
    footer table tr.padded td:first-of-type {
      padding-right: 10px; }
    footer table tr.padded td:last-of-type {
      padding-left: 10px; }
    footer table td {
      padding: 10px 0; }
      footer table td label {
        font-weight: bold;
        color: #4b4c48;
        margin: 0 0 5px 0;
        display: block; }
      footer table td input[type=text],
      footer table td textarea {
        font-family: 'ProximaNova', sans-serif;
        font-size: 1.125em;
        color: #fff;
        border: none;
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      footer table td textarea {
        height: 200px; }

img {
  max-width: 100%;
  display: block; }

h1, h2, blockquote {
  font-family: "Merriweather", serif; }

h1 {
  font-size: 1.875em;
  font-weight: 400; }

h2 {
  font-size: 1.625em;
  font-weight: 400;
  color: #366; }

h3 {
  font-size: 1.125em;
  font-weight: 700; }

h4 {
  font-size: 1.125em;
  font-weight: 400;
  color: #666; }

p {
  font-size: 0.9375em;
  line-height: 1.5em; }

blockquote {
  line-height: 1.5em;
  color: #666;
  margin: 1.0em 0; }

hr {
  background: transparent url("../images/divider_leaf.png") no-repeat scroll center center;
  display: block;
  height: 14px;
  border: none; }

div.masthead td:first-of-type {
  width: 64.667%;
  padding-right: 20px;
  vertical-align: middle; }
div.masthead td:last-of-type {
  width: 31.333%;
  vertical-align: bottom; }
  div.masthead td:last-of-type > img {
    float: right; }
div.masthead h1 {
  margin: 0; }
div.masthead h4 {
  margin: 0 0 0.33em 0; }

body.gallery h3 {
  font-family: 'ProximaNova', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  color: #366;
  margin: 0 0 0.5em 0; }
body.gallery figure {
  margin-bottom: 1.5em;
  padding: 0.625em; }

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 14px; }

  nav {
    padding-top: 15px;
    position: static;
    width: 100%; }
    nav > a {
      width: 100px; }
    nav hr {
      display: none; }
    nav ul {
      overflow: hidden;
      margin: 10px auto;
      width: 100%; }
      nav ul.contact {
        padding: 0.5em 0; }
      nav ul li {
        display: inline-block;
        padding: 0 6px; }
        nav ul li a {
          padding: 3px 6px; }

  div.wrapper {
    margin-left: 0; } }
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    -webkit-text-size-adjust: none; }

  nav ul {
    font-size: 1.0em; }

  div.masthead {
    background: none; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9 {
    display: block;
    width: 100% !important; } }
/* Responsive slideshow */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  .rslides li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    .rslides li img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0; }
    .rslides li figcaption {
      position: absolute;
      bottom: 1.25em;
      right: 0;
      padding: 0.625em 0.625em 0.625em 1.25em;
      background: white;
      display: block; }
