body {
  background: #c0ced1 url("/images/bkd_diagonal_blue.jpg") repeat scroll top left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  padding-top: 10px; }

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url("/images/bkd_wood.jpg") repeat-x scroll top left; }

nav {
  position: fixed;
  padding-top: 40px;
  top: 0;
  left: 0;
  width: 250px;
  text-align: center;
  font-family: 'Merriweather', serif; }
  nav figure {
    margin-bottom: 1.0em; }
  nav hr {
    margin: 1.2em 3.0em; }
  nav ul {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #5f6667; }
    nav ul.contact {
      font-size: 14px; }
    nav ul li {
      padding: 3px 0; }
      nav ul li a {
        padding: 6px 0;
        color: inherit;
        text-decoration: none;
        display: block;
        -webkit-transition: color 150ms ease-in-out; }
        nav ul li a.selected {
          color: #930; }
        nav ul li a:hover, nav ul li a:visited:hover {
          color: #383c3d; }

div.wrapper,
footer {
  max-width: 1040px;
  background: #f2f3ed url("/images/bkd_diagonal_tan.jpg") repeat scroll top left;
  margin-left: 250px; }

div.wrapper {
  padding-bottom: 3.0em; }

footer {
  border-top: 10px solid #7f8178;
  background: #a4a79d url("/images/bkd_mesh_brown.jpg") repeat scroll top left; }

h1, h2 {
  font-family: 'Merriweather', serif; }

h1 {
  font-size: 32px;
  font-weight: 400; }

h2 {
  font-size: 28px;
  font-weight: 400;
  color: #366; }

h3 {
  font-weight: 700;
  font-size: 18px; }

h4 {
  font-weight: 400;
  font-size: 18px;
  color: #666; }

p {
  font-size: 15px; }

hr {
  background: transparent url("../images/divider_leaf.png") no-repeat scroll center center;
  display: block;
  height: 14px;
  border: none; }

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  nav {
    padding-top: 15px;
    position: static;
    width: 100%; }
    nav hr {
      margin: 0 4%; }
    nav ul {
      overflow: hidden;
      margin: 10px auto;
      width: 100%; }
      nav ul li {
        display: inline-block;
        padding: 0 10px; }
        nav ul li a {
          padding: 2px 0; }

  div.wrapper,
  footer {
    margin-left: 0; } }
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: none; }

  nav ul {
    font-size: 16px; }

  div.wrapper,
  footer {
    margin-left: 0; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9 {
    display: block;
    width: 100% !important; } }
