<div class="grid_12">
  <figure>
    <img src="/images/about/team.jpg" alt="">
  </figure>
</div>

<div class="clear">&nbsp;</div>

<header class="grid_12 clearfix">
  <h1>About Us</h1>
  <p>BW Construction is a close team of professionals with the experience and attention to detail needed to meet your unique project and individual family needs.  But it is our passion and sense of pride that brings the beauty, heart and fun to our work. Our focus is to make your remodel a smooth, enjoyable experience. Both our clients and BW crew are often sad to end their time together. <a href="/testimonials/">Hear what our satisfied clients have to say</a> about their BW experience!</p>
</header>

<div class="clear">&nbsp;</div><hr>

<div class="grid_6">
  <article class="clearfix">
    <h3>Randy Bailey</h3>
    <h4>Co-owner &amp; Carpenter, too!</h4>
    <figure>
      <img src="/images/about/randy.jpg" alt="Randy Bailey">
    </figure>
    <p>My lifelong passion for building began as a kid growing up in upstate New York. Our family of 5 kids inherited all my great uncle's tools and set up "shop" in the front yard. I've been building things since I can remember.</p>
    <p>After working in residential remodeling, custom home building and with a Boulder architectural firm, I started BW Construction in 1989.</p>
    <p>I love remodeling because no two projects are alike. Complex and creative problem solving is both my expertise and what I do for fun.  I work with our clients to craft their project scope to meet both their dreams and their budget. My extensive experience in construction means I am an expert in value engineering, helping you maximize the satisfaction of your project.</p>
    <p>If I am not building for others, I'm creating something at home, or remodeling one of the tree houses I have built. I also love to ski, bike, or play in the outdoors. I've enjoyed sharing my love of carpentry with my daughters Nicki and Savi, and have taught them the essential carpentry technique that "if it doesn't work, wiggle it!"</p>
  </article>
  
  <article class="clearfix">
    <h3>Scott Dresser</h3>
    <h4>Lead Carpenter</h4>
    <figure>
      <img src="/images/about/scott.jpg" alt="Scott Dresser">
    </figure>
    <p>I have been a Lead Carpenter with BW Construction for over 15 years. An important reason I perform this work is the gratification I get daily by helping BW customers realize their remodeling goals. I also have the pleasure of making lasting friends along the way with our clients and their families. I am a task and detail-oriented manager who treats each BW project as I would my own. I am proud to work with a network of seasoned and talented professionals to make your project the very best it can be.</p>
    <p>Another reason I do this work is that it fits my active lifestyle. In my spare time I can usually be found working on my own home, biking, hiking, skiing or playing hockey. I also enjoy music, gardening, and our wonderful Colorado outdoors. I am a certified instructor for the National Outdoor Leadership School and a Wilderness First Responder.</p>
  </article>
  
  <article class="clearfix">
    <h3>Darren Klinefeter</h3>
    <h4>Lead Carpenter</h4>
    <figure>
      <img src="/images/about/darren.jpg" alt="Darren Klinefeter">
    </figure>
    <p>I have worked with BW since 2002. The greatest enjoyment I get is establishing a rapport and relationship with clients in order to fine tune projects with their interests, tastes and needs in mind.  I have a focused eye for detail and strive to show this in my projects.<p>
    <p>My interests outside of work are enjoying time with my daughters, wife and dog, as well as a wide variety of outdoor activities including: climbing, hiking, skiing, biking, camping, and canoeing. I also love wine. I do know my wines!</p>
  </article>
</div>

<div class="grid_6">
  <article class="clearfix">
    <h3>Donna Werner</h3>
    <h4>Owner, Office Manager &amp; Jane-of-all Trades</h4>
    <figure>
      <img src="/images/about/donna.jpg" alt="Donna Werner">
    </figure>
    <p>I am your initial contact for all BW communications and operations. From the first phone call through the last punch list item, my goal is to listen and pay attention to your details, to earn and keep your trust. Your calls will be answered, your concerns or questions promptly addressed, and your feedback solicited throughout your project.</p>
    <p>Having spent much of my time working as a teacher of special needs students, I understand the value and responsibility of community service.  We have built this in to our team and company philosophy, volunteering and supporting local agencies that include Boulder Valley School District, Boulder County Safehouse, Boulder Homeless Shelter and Boulder I Have A Dream Foundation.</p>
    <p>In addition to taking care of the BW family of employees and clients, I love to spend time with my own family, cooking, playing in our garden, practicing yoga, and helping new moms as a post partum doula.</p>
    <p>Please call me to learn more about BW Construction and find out how we can help you with your remodeling ideas.</p>
  </article>
  
  <article class="clearfix">
    <h3>Randy Sutton</h3>
    <h4>Lead Carpenter</h4>
    <figure>
      <img src="/images/about/sutton.jpg" alt="Randy Sutton">
    </figure>
    <p>I have worked with BW since 2000. I have always loved carpentry and enhanced my interests and skills with both a vocational technology degree in high school and a construction management degree from Red Rocks Community College. When it comes to those head-scratching, complex framing jobs, I appreciate the challenge to figure them out.</p>
    <p>When I'm not working on my house or somebody else's, I can be found playing hockey on the ice, snowboarding in the hills, or fishing on a lake.</p>
  </article>

  <article class="clearfix">
    <h3>Michele Novosad</h3>
    <h4>Production Manager</h4>
    <figure>
      <img src="/images/about/michele.jpg" alt="Michele Novosad">
    </figure>
    <p>I work closely with our clients during the estimating and specification stage.  As we develop the details of your project, I meet with our trade partners at your home to get valuable feedback for design and budgeting. I help clients stay on track with material selections. Once your job is in progress, I help the Lead Carpenters run your project seamlessly and efficiently by taking care of behind the scenes details.</p>
    <p>In my spare time, I find myself consulting friends on their remodeling projects, riding and racing my mountain bike, playing with my two little girls and spending as much time as I can in the mountains.</p>
  </article>
</div>

<div class="clear">&nbsp;</div><hr>

<div class="grid_12">
  <blockquote>
    &quot;Your professionalism is unmatched! This remodel, like all the others we have done with you is another example of top notch work and dependability.&quot; <cite>&ndash; L. Bradbury (kitchen remodel)</cite>
  </blockquote>
</div>