<header class="row">
  <div class="twelvecol">
    <h1>Testimonials</h1>
    <h2>We believe in building long-term relationships with our clients.</h2>
  </div>
</header>

<section class="row" style="margin-bottom:2.0em">
  <article class="sixcol">
    <figure style="max-height:200px;overflow:hidden;">
      <img src="/images/temp/kitchen.jpg">
    </figure>
    
    <blockquote>We want to throw roses at your lead carpenter's feet. He is bright, competent, conscientious, and considerate. Not a day went by when he didn't go far beyond to be sure we had what we needed... He cleaned up the site meticulously every day and was particularly careful (and friendly) with the cats. We all appreciate his work ethic and his suggestions.</blockquote>
    <cite>– A. Levine</cite>
  </article>
  
  <article class="sixcol last">
    <figure style="max-height:200px;overflow:hidden;">
      <img src="/images/temp/kitchen.jpg">
    </figure>
    
    <blockquote>We want to throw roses at your lead carpenter's feet. He is bright, competent, conscientious, and considerate. Not a day went by when he didn't go far beyond to be sure we had what we needed... He cleaned up the site meticulously every day and was particularly careful (and friendly) with the cats. We all appreciate his work ethic and his suggestions.</blockquote>
    <cite>– A. Levine</cite>
  </article>
</section>

<section class="row" style="margin-bottom:2.0em">
  <article class="sixcol">
    <figure style="max-height:200px;overflow:hidden;">
      <img src="/images/temp/kitchen.jpg">
    </figure>
    
    <blockquote>We want to throw roses at your lead carpenter's feet. He is bright, competent, conscientious, and considerate. Not a day went by when he didn't go far beyond to be sure we had what we needed... He cleaned up the site meticulously every day and was particularly careful (and friendly) with the cats. We all appreciate his work ethic and his suggestions.</blockquote>
    <cite>– A. Levine</cite>
  </article>
  
  <article class="sixcol last">
    <figure style="max-height:200px;overflow:hidden;">
      <img src="/images/temp/kitchen.jpg">
    </figure>
    
    <blockquote>We want to throw roses at your lead carpenter's feet. He is bright, competent, conscientious, and considerate. Not a day went by when he didn't go far beyond to be sure we had what we needed... He cleaned up the site meticulously every day and was particularly careful (and friendly) with the cats. We all appreciate his work ethic and his suggestions.</blockquote>
    <cite>– A. Levine</cite>
  </article>
</section>