html {}

body {
  background: #c0ced1 url('/images/bkd_diagonal_blue.jpg') repeat fixed top left;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  color: #333;
  padding-top: 10px;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: url('/images/bkd_wood.jpg') repeat-x scroll top left;
}

figure {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-bottom: 2.0em;
  
  > img { width: 100%; display: block; }
}

nav {
  position: fixed;
  padding-top: 40px;
  top: 0;
  left: 0;
  width: 230px;
  text-align: center;
  font-family: "Merriweather", serif;
  
  > img {
    margin-bottom: 1.0em;
  }
  
  hr {
    margin: 1.2em 3.0em;
  }
  
  ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #5f6667;
    
    &.contact {
      font-size: 14px;
    }
    
    li {
      padding: 3px 0;
      
      a {
        padding: 6px 10px 5px 10px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all 100ms ease-in-out;
           -moz-transition: all 100ms ease-in-out;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
        
        &:hover,
        &:visited:hover {
          background-color: rgba(0,0,0,0.05);
          color: #383c3d;
        }
        
        &.selected {
          color: #930;
          background-color: rgba(0,0,0,0.05);
          
          &:hover,
          &:visited:hover {
            color: #930;
          }
        }
      }
    }
  }
}

aside {
  background-color: rgba(204,102,0,0.2);
  padding: 20px 20px 15px 20px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
          
  ul {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #fff;
    padding: 0 1.25em;
    
    li {
      margin-bottom: 8px;
      
      span { color: #4d4d4d; }
    }
  }
  
  h3 {
    font-size: 16px;
    margin: 0;
  }
}

div.wrapper,
footer {
  max-width: 1040px;
  background: #f2f3ed url('/images/bkd_diagonal_tan.jpg') repeat fixed top left;  
  margin-left: 230px;
}

div.wrapper {
  padding-bottom: 3.0em;
}

footer {
  padding-top: 20px;
  border-top: 10px solid #7f8178;
  background: #a4a79d url('/images/bkd_mesh_brown.jpg') repeat scroll top left;
}

h1, h2, blockquote {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  color: #366;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  color: #666;
}

p {
  font-size: 15px;
  line-height: 1.5em;
}

blockquote {
  line-height: 1.5em;
  color: #666;
  margin: 1.0em 0;
}

hr {
  background: transparent url('../images/divider_leaf.png') no-repeat scroll center center;
  display: block;
  height: 14px;
  border: none;
}

div.masthead {
  background: transparent url('../images/donna_and_randy.png') no-repeat scroll bottom right;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  nav {
    padding-top: 15px;
    position: static;
    width: 100%;
    
    hr { display: none; }
    
    ul {
      overflow: hidden;
      margin: 10px auto;
      width: 100%;
      
      &.contact {
        padding: 0.5em 0;
      }
      
      li {
        display: inline-block;
        padding: 0 6px;
        
        a {
          padding: 3px 6px;
        }
      }
    }
  }
  
  div.wrapper,
  footer {
    margin-left: 0;
  }
}


/* Mobile */
@media handheld, only screen and (max-width: 767px) {

	body {
	  -webkit-text-size-adjust: none;
	}
	
	nav {
    ul { font-size: 16px; }
  }
	
	figure {
    padding: 0;
    background-color: none;
    box-shadow: none;
  }
	
	div.wrapper,
	footer {
    margin-left: 0;
  }
	
	div.masthead {
	  background: none;
	}
	
	.grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9 {
  	display: block;
  	width: 100% !important;
  }
}