body {
  background: #c0ced1 url('/images/bkd_diagonal_blue.jpg') repeat scroll top left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}

nav {
  position: fixed;
  padding-top: 40px;
  top: 0;
  left: 0;
  width: 250px;
  text-align: center;
  
  ul {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    
    li {
      a {
        text-decoration: none;
        color: #5f6667;
        padding: 10px 0;
        display: block;
        -webkit-transition: color 150ms ease-in-out;
      
        &.selected {
          color: #930;
        }
        
        &:hover,
        &:visited:hover {
          color: #383c3d;
        }
      }
    }
  }
}

div.wrapper,
footer {
  background: #f2f3ed url('/images/bkd_diagonal_tan.jpg') repeat scroll top left;  
  margin-left: 250px;
}

footer {
  background: #a4a79d url('/images/bkd_mesh_brown.jpg') repeat scroll top left;
}

h1, h2 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  color: #366;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  color: #666;
}

p {
  font-size: 15px;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  nav {
    padding-top: 15px;
    position: static;
    width: 100%;
    
    ul {
      overflow: hidden;
      margin: 10px auto;
      width: 100%;
      
      li {
        display: inline-block;
        
        a {
          padding: 0 10px;
        }
      }
    }
  }
  
  div.wrapper,
  footer {
    margin-left: 0;
  }
}


/* Mobile */
@media handheld, only screen and (max-width: 767px) {

	body {
	  -webkit-text-size-adjust: none;
	}
	
	nav {
    ul {
      font-size: 16px;
    }
  }
	
	div.wrapper,
	footer {
    margin-left: 0;
  }
	
	.grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9 {
  	display: block;
  	width: 100% !important;
  }
}