html {}

body {
  background: #f2f3ed url('/images/bkd_diagonal_tan.jpg') repeat fixed top left;  
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  color: #333;
  padding-top: 10px;
  
  > header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    margin: 0;
    background: url('/images/bkd_wood.jpg') repeat-x scroll top left;
  }
}

a:link, a:visited {
  color: #366;
}

a:hover, a:visited:hover {
  color: #222;
  text-decoration: underline;
}

figure {
  margin-bottom: 1.5em;
  padding: 0.75em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          box-shadow: 0 0 10px rgba(0,0,0,0.3);
          
  &.slideshow {
    padding: 1.25em;
    margin-bottom: 0;
  }
  
  > img {margin: 0 auto;}
}

header {
  margin: 0.25em 0;

  p {
    font-size: 1.33em;
    line-height: 1.5em;
    font-family: "Merriweather", serif;
  }
  
  h1 {
    display: none;
    margin: 0 0 0.375em 0;
    font-size: 1.625em;
    
    span {
      font-size: 0.625em;
      color: #666;
    }
  }
}

nav {
  border-top: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
  
  > span {
    font-size: 0.9em;
    float: right;
    padding: 0.667em 0 0 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    
    li {
      display: inline-block;
      
      &:first-of-type {
        margin-left: -0.5em;
      }
    }
    
    a:link,
    a:visited {
      color: #888;
      display: block;
      padding: 0.5em;
      text-decoration: none;
      -webkit-transition: color 150ms ease-in-out;
      
      &:hover,
      &:visited:hover {
        color: #000;
      }
      
      &.selected {
        color: #000;
        font-weight: bold;
      }
    }
  }
}

aside {
  padding: 20px 0 0 5px;
  font-family: 'Merriweather', serif;
  
  ul {
    font-size: 0.875em;
    padding: 0 1.25em;
    color: #fff;
    opacity: 0.8;
    
    li {
      margin-bottom: 8px;
      color: #ccc;
      
      span { color: #fff; }
    }
  }
  
  h3 {
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    margin: 0;
  }
  
  h4 {
    font-size: 1.0em;
    color: #fff;
    margin: 0 0 1.25em 0;
  }
}

div.clear.padded {
  padding: 1.25em 0;
}

div.content,
footer > div.inner {
  max-width: 1040px;
}

div.content {
  margin: 0 auto;
  padding-bottom: 3.0em;
  
  h3 {
    margin: 0 0 0.33em 0;
    & + p { margin-top: 0; }
  }
}

footer {
  color: #808080;
  font-size: 0.9em;
  padding: 2.0em 1.0em;
  text-align: center;
  
  ul {
    list-style: none;
    margin: 0 0 0 -0.5em;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 0.5em;
  }
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, blockquote {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 2.0em;
  font-weight: 400;
  color: #000;
}

h2 {
  font-size: 1.67em;
  font-weight: 400;
  font-weight: normal;
  color: #366;
  margin-top: 0;
  
  span {color:#999;}
}

h3 {
  font-size: 1.125em;
  font-weight: 700;
}

h4 {
  font-size: 1.125em;
  font-weight: 400;
  color: #366;
}

h5 {
  font-size: 0.9375em;
  font-weight: 400;
  color: gray;
}

p {
  font-size: 0.9375em;
  line-height: 1.5em;
  
  &:first-of-type {
    margin-top: 0;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

blockquote {
  line-height: 1.625em;
  color: #333;
  margin: 0;
  
  cite {
    margin-top: 0.325em;
    display: block;
    color: #808080;
  }
}

hr {
  background: transparent url('../images/divider_leaf.png') no-repeat scroll center center;
  display: block;
  height: 36px;
  border: none;
  margin-left: 1%;
  margin-right: 1%;
}

div.masthead {
  margin-bottom: 1.5em;
  
  td {
    vertical-align: middle;
    
    &:first-of-type {
      width: 11%;
      img { float: left; }
    }
    
    &:nth-of-type(2) {
      width: 65%;
      vertical-align: middle;
      padding-left: 0.825em;
      padding-top: 0.5em;
      
      h1 {
        margin: 0;
        white-space: nowrap; /*avoid flicker on load */
      }

      h4 {
        margin: -0.2em 0 0.5em 0;
        color: #666;
      }
      
      h5 {
        margin: 0;
      }
    }
    
    &:last-of-type {
      width: 25%;
      vertical-align: bottom;

      img { float: right; }
    }
  }
}

body.home {
  div.content p {margin-bottom:2.0em;}
  
  div.slideshow_wrapper {
    background-color: rgba(153,51,0,0.8);
    margin-bottom: 2.0em;
  }
}

body.gallery {
  div.gallery_index {
    div figure figcaption {
      padding: 0.625em 0 0 0;
      background: rgba(255,255,255,1);
      display: block;
      font-size: 1.25em;
    }
    
    div.kitchens figure img { background: #efefef url('/images/photos/gallery_kitchens.jpg') no-repeat scroll center top; }
    div.baths figure img { background: #efefef url('/images/photos/gallery_baths.jpg') no-repeat scroll -20px top; }
    div.exteriors figure img { background: #efefef url('/images/photos/gallery_exteriors.jpg') no-repeat scroll -310px -240px; }
    div.interiors figure img { background: #efefef url('/images/photos/gallery_interiors.jpg') no-repeat scroll center top; }

    h2 {
      font-family: 'Proxima Nova';
      color: #333;
      font-size: 1.5em;
      margin: 0 0 0.5em 0;
    }
  }
  
  header.gallery h1 {
    display: block;
    margin-bottom: 0.5em;
  }
}

body.about {
  div.content {
    article {
      margin-bottom: 2.0em;
      padding-right: 2%;
      
      figure {
        float: right;
        max-width: 33%;
        margin: 0.5em 0 1.0em 1.0em;
      }
      
      h3 { margin: 0; }

      h4 {
        margin: 0 0 0.5em 0;
        color: #666;
      }
    }
  }
}

body.testimonials {
  figure {
    margin-bottom: 0;
  }
}

body.process {
  figure {
    margin: 0;
    padding: 0;
    background-color: #366;
    height: 1.825em;
    width: 1.825em;;
    text-align: center;
    font-size: 1.825em;
    font-weight: bold;
    color: white;
    line-height: 1.825em;
    float: left;
    -webkit-border-radius: 2.0em;
       -moz-border-radius: 2.0em;
            border-radius: 2.0em;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  
  section {
    p { font-size: 1.125em; }
    h3 { margin: 0; }
    h4 { margin: 0.125em 0 0.25em 0; color: #666; }
  }
}

body.resources {  
  section {
    h3 { color: #366; }
    
    ul {
      margin-top: 0;
      font-size: 1.125em;
      line-height: 1.5em;
      color: #333;
    }
  }
}

body.contact {
  form {
    input[type=text],
    textarea,
    select {
      width: 100%;
    }

    input[type=text],
    textarea {
      font-family: 'ProximaNova', sans-serif;
      font-size: 1.0em;
      box-sizing: border-box;
      border-style: none;
      border: 1px solid #ccc;
      padding: 0.5em;
      -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
              border-radius: 2px;
    }
    
    input[type=submit] {
      margin-top: 1.0em;
      background-color: rgba(0,0,0,0.1);
      border: 2px solid #ccc;
      font-size: 1.125em;
      padding: 0.5em 2.0em;
      font-family: 'ProximaNova', sans-serif;
      vertical-align: baseline;
      -webkit-appearance: none;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
    }
    
    select {
      font-size: larger;
    }
    
    p {
      font-family: "Merriweather", serif;
      line-height: 2.0em;
      padding-bottom: 1.0em;
      
      > span {
        color: #930;
      }
    }
    
    aside {
      padding: 20px 30px;
      background-color: rgba(0,0,0,0.1);
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
              
      p {
        line-height: 1.66em;
      }
      
      a {
        color: inherit;
      }
    }
    
    div#log {
      display: none;
      
      > div {
        margin-bottom: 1.5em;
        padding: 0.825em 1.5em;
        border: 2px solid #cc8f52;
        background-color: rgba(204,102,0,0.33);
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;

        &.success {
          background-color: rgba(90,150,150,0.33);
          border: 2px solid #5a9696;
        }
      }
    }
  }
}

/* Responsive slideshow */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  
  li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    
    img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0;
    }
    
    figcaption {
      position: absolute;
      bottom: 1.25em;
      right: 0;
      padding: 0.625em 0.625em 0.625em 1.25em;
      background: rgba(255,255,255,1);
      display: block;
    }
  }
}

.rslides_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 1.25em;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("/images/rslides_arrows.gif") no-repeat left top;
  margin-top: -45px;
  
  &:active {
    opacity: 1.0;
  }
  
  &:focus {
    outline: none;
  }
  
  &.next {
    left: auto;
    background-position: right top;
    right: 1.25em;
  }
}

.rslides_tabs {
  margin: 1.0em 0 0 0;
  text-align: center;

  li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
  
    a {
      text-indent: -9999px;
      overflow: hidden;
      -webkit-border-radius: 1.0em;
      -moz-border-radius: 1.0em;
      border-radius: 1.0em;
      background: #ccc;
      background: rgba(0,0,0,0.2);
      display: inline-block;
      _display: block;
      *display: block;
      -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.3);
      box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.3);
      width: 0.5625em;
      height: 0.5625em;
    }
  
    &.rslides_here a {
      background: #222;
      background: rgba(0,0,0, .8);
    }
  }
}

/* Hide mobile-specific content by default */
div[data-behavior~=mobile-show] {display: none;}
div[data-behavior~=mobile-hide] {display: block;}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 14px;
  }
  
  div.wrapper {
    margin-left: 0;
  }
  
  body.resources {  
    section {
      ul {
        padding-left: 1.33em;
      }
    }
  }
}


/* Mobile */
@media handheld, only screen and (max-width: 767px) {

	body {
	  font-size: 14px;
	  -webkit-text-size-adjust: none;
	}
	
	body.home {
    aside {
      padding: 1.0em;
      
      h4 {margin:0;}
    }
  }
  
  body.testimonials {
    figure {
      margin-bottom: 1.0em;
    }
  }
  
  body.process {
    div.grid_1 {min-width:3.0em}
    
    figure {
      height: 1.625em;
      width: 1.625em;;
      font-size: 1.625em;
      line-height: 1.625em;
    }
  }
  
  body.contact {
    div.alpha,
    div.omega {
      margin: 0;
    }
    
    div.grid_6,
    div.grid_4 {
      width: 98% !important;
    }
  }
  
  div.gallery_index {
    figure img { height: 100px; width: 100%; }

    h2 {
      font-family: 'Proxima Nova';
      color: #333;
      font-size: 1.5em;
      margin: 0 0 0.5em 0;
    }
  }
  
  div.mobile_nav {
    width: 100%;
    margin: 0 auto;
    padding: 1.0em 0 0 0;
    
    select {
      width: 100%;
      font-size: smaller;
    }
  }
	
	div[data-behavior~=mobile-show] {display: block;}
	[data-behavior~=mobile-hide] {display: none;}
	
	figure {	  
    &.slideshow {
      padding: 0.825em;
    }
  }
  
  footer li {
    display: block;
  }
  
  div.clear.padded {
    padding: 0.5em 0;
  }
	
	div.masthead {
    background: none;
    padding-bottom: 0;
    
    table {
      width: 100%;
      
      td {
        div.logo {
          width: 30%;
          margin: 1.0em auto;

          img {margin: 0 auto;}
        }

        &:nth-of-type(2) {
          vertical-align: middle;
          padding: 0;

          h1,
          h4 {
            text-align: center;
            white-space: normal;
          }

          h1 {
            line-height: 1.0em;
            letter-spacing: -1px;
            font-size: 1.5em;
            margin: 0.5em 0 0.25em 0;
          }

          h4 {
            font-size: 1.0em;
          }
        }
      }
    }
  }
	
	body {
	  &:not(.process) {
	    .grid_1,
      .grid_2,
      .grid_3,
      .grid_4,
      .grid_5,
      .grid_6,
      .grid_7,
      .grid_8,
      .grid_9 {
      	display: block;
      	width: 100% !important;
      }
	  }
	}
}