<header class="grid_12 clearfix gallery">
  <h1>Exteriors <span>(<a href="/gallery/">see all galleries</a>)</span></h1>
</header>

<div class="clear">&nbsp;</div>

<div class="grid_12">
  <figure class="slideshow">
    <ul data-gallery-name="exteriors" id="slides">
      <li>
        <img src="/images/gallery/exteriors/Nordby 076.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/11st at completion 12-06 009.jpg" title="06 009"/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/11st at completion 12-06 007.jpg" title="06 007"/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/11st at completion 12-06 006.jpg" title="06 006"/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/DSCN4380_4372.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/Hayes Pergola DSCN0050.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/Johnson 041.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/big elk playhouse 001.jpg" title=""/>
      </li>
      <li>
        <img src="/images/gallery/exteriors/van laanen garage-done 001.jpg" title="Done 001"/>
      </li>
    </ul>  
  </figure>
</div>