<header class="grid_12 clearfix">
  <h1>Resources</h1>
  <p>When it comes to remodeling your home, we think it's important that you know what to expect every step of the way. Our experience has led us to a proven process that works for BW and clients.</p>
</header>

<div class="clear">&nbsp;</div><hr>

<section>
  <div class="grid_1">
    <figure>1</figure>
  </div>

  <div class="grid_10">
    <h3>Initial Phone Consultion</h3>
    <h4>With BW owner Donna Werner</h4>
    <p>You share your project needs, wishes, investment goals, timing requirements and what you're looking for in a contractor. We'll share with you our philosophy, process and availability to see if we are a good fit.</p>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_1">
    <figure>2</figure>
  </div>

  <div class="grid_10">
    <h3>Onsite Meeting</h3>
    <h4>With BW owner Randy Bailey</h4>
    <p>We'll work together to help you prioritize your goals and brainstorm possibilities for your custom project. At the end of the meeting, you have the choice to retain BW Construction to do initial an consultation, project design, and proposal.</p>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_1">
    <figure>3</figure>
  </div>

  <div class="grid_10">
    <h3>Specification Development, Estimate and Value Engineering</h3>
    <h4>With Randy Bailey and Production Manager, Michele Novosad</h4>
    <p>We will investigate and identify all impacting factors to detect unknowns and maximize predictability during construction. We'll review the details to make sure all of your needs are met by the proposed project. With agreement to move forward, we'll give you a fixed cost and thorough project specifications that include design details, scope, material selection and project schedule.</p>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_1">
    <figure>4</figure>
  </div>

  <div class="grid_10">
    <h3>Pre-Construction Planning</h3>
    <h4>With your Lead Carpenter</h4>
    <p>We will determine a project schedule with agreed-upon start and end dates. We will coordinate all material orders and trade partners ahead of time. We will complete a detailed pre-construction walk through with your Lead Carpenter to review scope and create a plan that will minimize our impact on your space and family during construction.</p>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_1">
    <figure>5</figure>
  </div>

  <div class="grid_10">
    <h3>Construction</h3>
    <h4>With your Lead Carpenter</h4>
    <p>You will have a Lead Carpenter on site daily from project start to finish, constructing as well as managing the details of your project. Many builders stop by once a day to check on subcontractors who are doing their work. BW is hands-on, there all day, every day to supervise so you don’t have to. Your Lead Carpenter is your daily point of contact to ensure regular communication throughout the process. Your project is their only priority.</p>
  </div>
</section>

<div class="clear padded">&nbsp;</div>

<section>
  <div class="grid_1">
    <figure>6</figure>
  </div>

  <div class="grid_10">
    <h3>Warranty</h3>
    <h4>With your Lead Carpenter</h4>
    <p>Your satisfaction is our highest priority. Our long-term warranty guarantees we will be there to follow up on any concerns you may have to keep your project perfect for the long term.</p>
  </div>
</section>

<div class="clear padded">&nbsp;</div><hr>

<blockquote>
  &quot;Thanks again for a wonderful building experience! I can't think of anyone else I would turn my house/life over to and leave the state. For the whole summer. Again.&quot; <cite>&ndash; L. Edwards</cite>
</blockquote>